{
  "app": "go mod tidy && go run .",
  "watch": {
    "include": ["**"],
    "exclude": ["README.md", "cdk*.json", "go.mod", "go.sum", "**/*test.go"]
  },
  "context": {
    "@aws-cdk/aws-lambda:recognizeLayerVersion": true,
    "@aws-cdk/core:checkSecretUsage": true,
    "@aws-cdk/core:target-partitions": ["aws", "aws-cn"],
    "@aws-cdk/aws-iam:minimizePolicies": true,
    "@aws-cdk/core:validateSnapshotRemovalPolicy": true,
    "@aws-cdk/aws-s3:createDefaultLoggingPolicy": true,
    "@aws-cdk/core:enablePartitionLiterals": true
  }
}
