// Package ports holds the port definitions that define how the core interacts
// with internal and external entities
package ports

// core.go holds the interfaces that define how domains interact with internal
// and external entities. Add them with 'gopher generate port -side core'
