package {{.Package}}

import (
	"bytes"
	"context"
	"io"
	"os/exec"
)

type {{.Name.Pascal}}Adapter struct{}

func New{{.Name.Pascal}}Adapter() *{{.Name.Pascal}}Adapter {
	return &{{.Name.Pascal}}Adapter{}
}

func (a *{{.Name.Pascal}}Adapter) Exec(ctx context.Context, cmd *exec.Cmd) (io.Reader, error) {
	output, err := cmd.CombinedOutput()
	if err != nil {
		return nil, err
	}

	return bytes.NewReader(output), nil
}
