package {{.Package}}

import (
	"os"

	"github.com/pelletier/go-toml/v2"
)

type ErrReadCfg struct {
	name string
	err  error
}

func (e *ErrReadCfg) Error() string {
	return "failed to read " + e.name + ": " + e.err.Error()
}

type ErrUnmarshalToml struct {
	name string
	err  error
}

func (e *ErrUnmarshalToml) Error() string {
	return "failed to unmarshal " + e.name + ": " + e.err.Error()
}

type {{.Name.Pascal}}Adapter[T any] struct {
	Config T
}

// New{{.Name.Pascal}}Adapter creates a toml adapter
func New{{.Name.Pascal}}Adapter[T any]() *{{.Name.Pascal}}Adapter[T] {
	return &{{.Name.Pascal}}Adapter[T]{}
}

// LoadConfig attempts to read a toml file in the current directory and returns a config
func (a *{{.Name.Pascal}}Adapter[T]) LoadConfig(filename string) error {
	data, err := os.ReadFile(filename)
	if err != nil {
		return &ErrReadCfg{filename, err}
	}

	if err := toml.Unmarshal(data, &a.Config); err != nil {
		return &ErrUnmarshalToml{filename, err}
	}

	return nil
}
